body{background: #ffffff;}

.navbar-default{border-radius: 0;}

/*Configurações do dashboard*/
#wrapper{background: #ffffff}
#page-wrapper{background: #ffffff}
.navbar-inverse{border-top:#5e666a;border-bottom: 1px solid #5e666a;}
.side-nav{ background-color: #f8f8f8;}
.navbar-default .navbar-brand{color:#5e666a;}
.navbar-right > li > a{color: #5e666a;}
.navbar-collapse .side-nav > li > a{color:#5e666a;padding-top: 10px;padding-bottom: 10px;}
.navbar-collapse .side-nav > li > a:hover,.navbar-collapse .side-nav > li > a:focus{color: #ffffff;background: #444444 !important;}
.img-egresso{width: 50%;display:block; margin:auto;}
.signal{font-size: 16pt;color: red;}
.dropdown-toggle:hover, .dropdown-toggle:focus, .dropdown-toggle .open > li > a{color: #ffffff !important;}
.dropdown-menu{width: 100%;}