body{background-color: #ffffff;}
.navbar-default{border-radius: 0px;border-left:none;border-right:none;border-top: none; border-bottom: 1px solid #d6d6d6;}
.img-egresso{display: block;}
@media (max-width: 767px){
	.img-noticia, .img-egresso{width: 70%;margin: auto;}
}
@media (min-width: 768px){
	.img-noticia, .img-egresso{width: 25%;float: left;}
	/*.img-noticia:hover{width: 40%;}*/	
}